@font-face {
    font-family: 'Monument Extended';
    src: url('/fonts/MonumentExtended-Regular.otf') format('opentype');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Monument Extended';
    src: url('/fonts/MonumentExtended-Ultrabold.otf') format('opentype');
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}
